.main-sec{
    /* background-color: rgb(0, 0, 0)rgb(33 27 96); */
    background: rgb(28, 28, 72);
    height: 615px;
    position: relative;
}

.main-sec::before{
    content: '';
    background: url(https://www.9527.click/static/images/banner_icon.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 35%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:.5;
    background-position: right;
    
}

.wrapper{
    display: inline-flex;
}
.wrapper .static{
    font-size: 40px;
    font-weight: 400;
    color: white;
}
.wrapper .dynamic{
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    overflow: hidden;
}
.dynamic li span{
    position: relative;
}
.text-anim h1{
    color: white;
    font-size : 45px;    
}
.wrapper .dynamic li{
    font-size: 40px;
    font-weight: 500;
    list-style: none;
    color: rgb(247, 45, 45);
    position: relative;
    top: 0;
    animation: word 6s steps(4) infinite;

    }
    @keyframes word {
        100%{
            top: -200px;
        }
    }

        .dynamic li span::after{
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 106%;
            border-left: 2px solid rgb(255, 51, 51);
            background: rgb(28, 28, 72);
            
            animation: typing 1.5s steps(15) infinite;

        }
@keyframes typing {
    100%{
        left: 100% ;
        margin: 0 0px 0 35px;
    }
}

        .text-anim{
        position: absolute;
        top: 5%;
        left: 5%;
        }
        .para-cover{
        color: white;
        margin-top: 30px;
        }
        .img-border{
            border: 4px solid white;
            margin-bottom: 47px;
            border-radius: 50%;
            padding: 7px;
            display: inline-block;
        }
        .img-logo{
            background: url(../images/imglogo.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .about-me{
            display: flex;
            /* padding: 10px 10px; */
            padding-top: 300px;
            justify-content: space-around;
            background-color: #ffffff;
            /* align-items: center; */
            height: 770px;
            position: relative;
            z-index: 0;
        }
        .about-me::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../images/cover.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            z-index: -1;
            opacity: .3;
        }
        .about-me svg{
            position: absolute;
            bottom: 0;
        }
        .cover{
            display: none;
            box-shadow: 0px 7px 17px -7px black;
            width: 500px;
            background: url(../images/cover.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 290px;
            background-position: center;
        }
        .about{
            width: 80%;
            padding-bottom: 35px;
        }
        


        /*    -------------- skill bar---------------- */
        #myskill::after{
            content: " SKILL";
            color: rgb(255, 81, 81);
        }
        #myexperience::after{
            content: " EXPERIENCE";
            color: rgb(255, 68, 68);
        }
        #contact::after{
            content: " Me";
            color: rgb(255, 68, 68);
        }
        .skill-flex{
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
        }
        .info-skill{
            margin-top: 25px;
        }
        .bar{
            height: 10px;
            background: lightgray;
            border-radius: 50px;
            position: relative;
        }
        .info{
            display: flex;
            justify-content: space-between;
        }
        .bar .bar-skill{
            height: 10px;
            background: #ff3131;
            border-radius: 50px;            
        }
        .bar-part{
            width: 45%;
            display: inline-block;
        }
        .bar .html{
            width:90%;            
            animation: html 4s ease-out;
        }
        @keyframes html {
            0%{
                width: 0;
            }
            100%{
                width: 90%;
            }
        }
        .bar .css{
            width:95%;            
            animation: css 4s ease-out;
        }
        @keyframes css {
            0%{
                width: 0;
            }
            100%{
                width: 95%;
            }
        }
        .bar .js{
            width:80%;            
            animation: js 4s ease-out;
        }
        @keyframes js {
            0%{
                width: 0;
            }
            100%{
                width: 80%;
            }
        }
        .bar .nodejs{
            width:75%;            
            animation: nodejs 4s ease-out;
        }
        @keyframes nodejs {
            0%{
                width: 0;
            }
            100%{
                width: 75%;
            }
        }

        .bar .express{
            width:80%;            
            animation: express 4s ease-out;
        }
        @keyframes express {
            0%{
                width: 0;
            }
            100%{
                width: 80%;
            }
        }
        .bar .react{
            width:73%;            
            animation: react 4s ease-out;
        }
        @keyframes react {
            0%{
                width: 0;
            }
            100%{
                width: 73%;
            }
        }
        .bar .bootstrap{
            width:98%;            
            animation: bootstrap 4s ease-out;
        }
        @keyframes bootstrap {
            0%{
                width: 0;
            }
            100%{
                width: 98%;
            }
        }
        .bar .wp{
            width:70%;            
            animation: wp 4s ease-out;
        }
        @keyframes wp {
            0%{
                width: 0;
            }
            100%{
                width: 70%;
            }
        }
        .bar .mern{
            width:73%;            
            animation: mern 4s ease-out;
        }
        @keyframes mern {
            0%{
                width: 0;
            }
            100%{
                width: 73%;
            }
        }
        .bar .mongodb{
            width:88%;            
            animation: mongodb 4s ease-out;
        }
        @keyframes mongodb {
            0%{
                width: 0;
            }
            100%{
                width: 88%;
            }
        }

        /* ------------------------------------------ */

        .development{            
            /* width: 355px; */
            height: 135px;
            margin: auto;
            margin-bottom: 15px;
            /* border-radius: 4px; */
            /* border: 1px solid #1a1a3f; */
        }
        .development-fr{
            background: url(https://www.smo.be/en/wp-content/uploads/sites/3/2019/10/personeel-aan-het-werk-1-van-4-1030x687.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .development-bk{
            background: url(https://www.iflexion.com/files/content/technology/background/bg-page-backend_0.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .development-re{
            background: url(https://www.supersonicplayground.com/wp-content/uploads/2020/03/Responsive-Website-1500x844.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .experience{
            background: #3f3f6c;
            width: 31%;
            padding: 15px 12px;
            /* border-radius: 5px; */
            /* box-shadow: 0px 0px 14px 0px black; */
        
        }
        .pre-experience{
            display: flex;
            justify-content: space-evenly;
            max-width: 1400px;
            margin: auto;
            margin-top: 65px;
            padding: 0px 30px;
        }
        .contact-form{
            margin: auto;
            max-width: 800px;
            padding: 25px 10px;
        }

        
        .input-box{
            border: none;
            background: #4b4b7a;
            padding: 8px 0;
            border-radius: 3px;
            color: white;
            width: 100%; 
        }
        .link{
            position: absolute;
            z-index: 1;
        }